    <!-- Start About Area  -->
    <div class="about-style-5 rainbow-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="row row--0 about-wrapper theme-shape">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="thumbnail"><img src="../static/images/about/about-ldf-3.png" alt="About Images">
                            </div>
                        </div>
                        <div class="col-lg-6 mt_md--30 mt_sm--30">
                            <div class="content">
                                <div class="inner" style="padding: 0 15px;">
                                    <h4 class="title" id="about">{{ g.translations['about-title'] }}</h4>
                                    {% for msg in g.translations['about-description'] %}
                                        <p style="font-size: 15px; width: 100%">{{msg}}</p>
                                    {% endfor %}

                                    <ul class="social-icon social-default with-gradient">
                                        <!-- <li data-sal="slide-up" data-sal-duration="400" data-sal-delay="200"><a href="https://www.facebook.com/">
                                                <i class="feather-facebook"></i>
                                            </a>
                                        </li> -->
                                        <li data-sal="slide-up" data-sal-duration="400" data-sal-delay="400"><a href="mailto:luis.fonseca@hey.com">
                                                <i class="feather-mail"></i>
                                            </a>
                                        </li>
                                        <li data-sal="slide-up" data-sal-duration="400" data-sal-delay="400"><a href="https://www.instagram.com/luisdanielfonseca/">
                                                <i class="feather-instagram"></i>
                                            </a>
                                        </li>
                                        <li data-sal="slide-up" data-sal-duration="400" data-sal-delay="300"><a href="https://twitter.com/luisdafonseca_">
                                                <i class="feather-twitter"></i>
                                            </a>
                                        </li>
                                        <li data-sal="slide-up" data-sal-duration="400" data-sal-delay="500"><a href="https://www.linkedin.com/in/luis-daniel-fonseca/">
                                                <i class="feather-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>

                                    <!-- <ul class="contact-address">
                                        <li>
                                            <i class="feather-file"></i> Web designer &amp; developer
                                        </li>
                                        <li><i class="feather-phone"></i> +01916395965</li>
                                        <li>
                                            <i class="feather-map-pin"></i> Dhaka, Bangladesh
                                        </li>
                                    </ul> -->
                                    <!-- <div class="download-button mt--20"><a class="btn-read-more" href="#"><span>Download My CV</span></a></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area  -->