    <!-- Start Brand Style-4  -->
    <div class="rainbow-brand-area pb--90 mt_dec--30">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="section-title text-center" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                            <!-- <h4 class="subtitle">
                                <span class="theme-gradient">Companies</span>
                            </h4> -->
                            <h4 class="title w-600 mb--20">
                                {% if g.language == "es" %}
                                Ingenieros que han practicado con estas preguntas <br>ahora trabajan en tmpresas como estas
                                {% else %}
                                Engineers who have practiced with these questions <br>now work in companies like these
                                {% endif %}

                            </h4>
                    </div>
                    <ul class="brand-list brand-style-2 variation-2">

                        <li><a href="#"><img src="../static/images/brand/google.png" alt="Brand Image"></a></li>
                        <li><a href="#"><img src="../static/images/brand/meta.png" alt="Brand Image"></a></li>
                        
                        <li><a href="#"><img src="../static/images/brand/amazon.png" alt="Brand Image"></a></li>
                        <li><a href="#"><img src="../static/images/brand/intel.png" alt="Brand Image"></a></li>
                        <!-- 
                        <li><a href="#"><img src="../static/images/brand/brand-05.png" alt="Brand Image"></a></li>
                        <li><a href="#"><img src="../static/images/brand/brand-06.png" alt="Brand Image"></a></li>
                        <li><a href="#"><img src="../static/images/brand/brand-07.png" alt="Brand Image"></a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brand Style-4  -->