<!DOCTYPE html>
<html lang="{{ g.language }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-style-mode" content="1"> <!-- 0 == light, 1 == dark -->

    <title>Luis Daniel Fonseca</title>

    <link rel="alternate" hreflang="en" href="http://luisdanielfonseca.com/en/" />
    <link rel="alternate" hreflang="es" href="http://luisdanielfonseca.com/es/" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <!-- <link rel="icon" href="#"> -->
    <!-- CSS ============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/animation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/feature.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/magnify.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/slick-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/lightbox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-629HN5HCR4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-629HN5HCR4');
    </script>

</head>
<body>
    <main class="page-wrapper">
        {% include 'navbar.html' %}
        {% block content %}{% endblock %}
        {% include 'footer.html' %}
    </main>

    <!-- All Scripts  -->
    <!-- Start Top To Bottom Area  -->
    <div class="rainbow-back-top">
        <i class="feather-arrow-up"></i>
    </div>
    <!-- End Top To Bottom Area  -->
    <!-- JS
============================================ -->
    <script src="{{ url_for('static', filename='js/vendor/modernizr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/waypoint.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/feather.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/sal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/masonry.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/imageloaded.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/magnify.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/lightbox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/easypie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/text-type.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery.style.swicher.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/js.cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-one-page-nav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script>
    $(document).ready(function() {
        $('.blog-search').submit(function(event) {
            event.preventDefault(); // Stop the form from submitting the usual way

            let form = $(this);
            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                data: form.serialize(),
                success: function(data) {
                    // This function will be called when the server sends a successful response
                    $('#message').text(data.message).css('color', 'green');
                },
                error: function(data) {
                    // This function will be called when the server sends an error response
                    let message = (data.responseJSON && data.responseJSON.message) || 'An error occurred';
                    $('#message').text(message).css('color', 'red');
                }
            });
        });
    });
    </script>

</body>

</html>