    <!-- Start Brand Style-4  -->
    <div class="rainbow-brand-area pb--90 mt_dec--30">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <ul class="brand-list brand-style-2 variation-2">
                        <li><a href="#"><img src="../static/images/brand/brand-01.png" alt="Brand Image"></a></li>
                        <li><a href="#"><img src="../static/images/brand/brand-02.png" alt="Brand Image"></a></li>
                        <li><a href="#"><img src="../static/images/brand/brand-03.png" alt="Brand Image"></a></li>
                        <li><a href="#"><img src="../static/images/brand/brand-04.png" alt="Brand Image"></a></li>
                        <li><a href="#"><img src="../static/images/brand/brand-05.png" alt="Brand Image"></a></li>
                        <li><a href="#"><img src="../static/images/brand/brand-06.png" alt="Brand Image"></a></li>
                        <li><a href="#"><img src="../static/images/brand/brand-07.png" alt="Brand Image"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brand Style-4  -->