    <!-- Start Brand Style-4  -->
    <div class="rainbow-brand-area pb--90 mt_dec--30">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="section-title text-center" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                            <h4 class="subtitle">
                                <span class="theme-gradient">As seen in</span>
                            </h4>
                    </div>
                    <ul class="brand-list brand-style-2 variation-2">

                        <li><a href="#"><img src="../static/images/brand/medium-logo.png" alt="Brand Image"></a></li>
                        <li><a href="#"><img src="../static/images/brand/github2.png" alt="Brand Image"></a></li>
                        
                        <li><a href="#"><img src="../static/images/brand/product-hunt-logo.png" alt="Brand Image"></a></li>
                        <li><a href="#"><img src="../static/images/brand/dev-logo2.png" alt="Brand Image"></a></li>
                        <!-- 
                        <li><a href="#"><img src="../static/images/brand/brand-05.png" alt="Brand Image"></a></li>
                        <li><a href="#"><img src="../static/images/brand/brand-06.png" alt="Brand Image"></a></li>
                        <li><a href="#"><img src="../static/images/brand/brand-07.png" alt="Brand Image"></a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brand Style-4  -->