<!-- Start Header Area  -->
    <header class="rainbow-header header-default header-transparent header-sticky">
        <div class="container position-relative">
            <div class="row align-items-center row--0">
                <div class="col-lg-3 col-md-6 col-4">
                    <div class="logo">
                        <a href="index.html" style="">
                            ldf
                            <!-- <img class="logo-light" src="../static/images/logo/logo.png" alt="Corporate Logo">
                            <img class="logo-dark" src="../static/images/logo/logo-dark.png" alt="Corporate Logo"> -->
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-6 col-8 position-static">
                    <div class="header-right">

                        <nav class="mainmenu-nav d-none d-lg-block">
                            <ul class="mainmenu">
                                <li class="with-megamenu has-menu-child-item position-relative"><a href="#">Home</a>
                                    <div class="rainbow-megamenu with-mega-item-2">
                                        <div class="wrapper">
                                            <div class="row row--0">
                                                <div class="col-lg-6 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="index-landing.html">Sass Landing <span class="rainbow-badge-card">New</span></a></li>
                                                        <li><a href="index-application.html">Application <span class="rainbow-badge-card">New</span></a></li>
                                                        <li><a href="index-collaborate.html">Collaborate <span class="rainbow-badge-card">New</span></a></li>
                                                        <li><a href="index-business-consulting.html">Business Consulting</a></li>
                                                        <li><a href="index-business-consulting-2.html">Business Consulting 02</a></li>
                                                        <li><a href="index-magazine.html">Magazine <span class="rainbow-badge-card">New</span></a></li>
                                                        <li><a href="index-corporate.html">Corporate</a></li>
                                                        <li><a href="index-business.html">Business</a></li>
                                                        <li><a href="index-digital-agency.html">Digital Agency</a></li>
                                                        <li><a href="index-finance.html">Finance</a></li>
                                                        <li><a href="index-company.html">Company</a></li>
                                                        <li><a href="index-marketing-agency.html">Marketing Agency</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="index-travel-agency.html">Travel Agency</a></li>
                                                        <li><a href="index-consulting.html">Consulting</a></li>
                                                        <li><a href="index-seo-agency.html">SEO Agency</a></li>
                                                        <li><a href="index-personal-portfolio.html">Personal Portfolio</a></li>
                                                        <li><a href="index-event-conference.html">Event Conference</a></li>
                                                        <li><a href="index-creative-portfolio.html">Creative Portfolio</a></li>
                                                        <li><a href="index-freelancer.html">Freelancer</a></li>
                                                        <li><a href="index-international-consulting.html">International Consulting</a></li>
                                                        <li><a href="index-startup.html">Startup</a></li>
                                                        <li><a href="index-web-agency.html">Web Agency</a></li>
                                                        <li><a href="index-corporate-one-page.html">Corporate One Page <span class="rainbow-badge-card">New</span></a></li>
                                                        <li><a href="index-photographer.html">Photographer <span class="rainbow-badge-card">New</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="about.html">About</a></li>
                                <li class="with-megamenu has-menu-child-item"><a href="#">Elements</a>
                                    <div class="rainbow-megamenu">
                                        <div class="wrapper">
                                            <div class="row row--0">
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="button.html">Button</a></li>
                                                        <li><a href="service.html">Service</a></li>
                                                        <li><a href="counter.html">Counter</a></li>
                                                        <li><a href="progressbar.html">Progressbar</a></li>
                                                        <li><a href="accordion.html">Accordion</a></li>
                                                        <li><a href="social-share.html">Social Share</a></li>
                                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="team.html">Team</a></li>
                                                        <li><a href="portfolio.html">Portfolio</a></li>
                                                        <li><a href="testimonial.html">Testimonial</a></li>
                                                        <li><a href="timeline.html">Timeline</a></li>
                                                        <li><a href="tab.html">Tab</a></li>
                                                        <li><a href="pricing.html">Pricing</a></li>
                                                        <li><a href="split.html">Split Section</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="call-to-action.html">Call To Action</a></li>
                                                        <li><a href="video.html">Video</a></li>
                                                        <li><a href="gallery.html">Gallery</a></li>
                                                        <li><a href="contact.html">Contact</a></li>
                                                        <li><a href="brand.html">Brand</a></li>
                                                        <li><a href="portfolio.html">Portfolio</a></li>
                                                        <li><a href="error.html">404</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="advance-tab.html">Advance Tab <span
                                    class="rainbow-badge-card">Hot</span></a></li>
                                                        <li><a href="brand-carouse.html">Brand Carousel <span
                                    class="rainbow-badge-card">New</span></a></li>
                                                        <li><a href="advance-pricing.html">Advance Pricing <span
                                    class="rainbow-badge-card">Hot</span></a></li>
                                                        <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                                        <li><a href="blog-details.html">Blog Details</a></li>
                                                        <li><a href="privacy-policy.html">Privacy Policy <span
                            class="rainbow-badge-card">New</span></a></li>
                                                        <li><a href="login.html">Profile <span
                            class="rainbow-badge-card">New</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="has-droupdown has-menu-child-item"><a href="#">Blog</a>
                                    <ul class="submenu">
                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                        <li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                                        <li><a href="blog-list-view.html">Blog List View</a></li>
                                        <li><a href="blog-list-sidebar.html">Blog List View Sidebar</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>

                                <li class="has-droupdown has-menu-child-item"><a href="#">Portfolio</a>
                                    <ul class="submenu">
                                        <li><a href="portfolio.html">Portfolio Default</a></li>
                                        <li><a href="portfolio-three-column.html">Portfolio Three Column</a></li>
                                        <li><a href="portfolio-full-width.html">Portfolio Full Width</a></li>
                                        <li><a href="portfolio-grid-layout.html">Portfolio Grid Layout</a></li>
                                        <li><a href="portfolio-box-layout.html">Portfolio Box Layout</a></li>
                                        <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>







                        </nav>

                        <!-- Start Header Btn  -->
                        <div class="header-btn">
                            <a class="btn-default btn-small round" target="_blank" href="https://themeforest.net/checkout/from_item/34133466?license=regular">BUY NOW</a>
                        </div>
                        <!-- End Header Btn  -->

                        <!-- Start Mobile-Menu-Bar -->
                        <div class="mobile-menu-bar ml--5 d-block d-lg-none">
                            <div class="hamberger">
                                <button class="hamberger-button">
                                    <i class="feather-menu"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Start Mobile-Menu-Bar -->

                        <div id="my_switcher" class="my_switcher">
                            <ul>
                                <li>
                                    <a href="javascript: void(0);" data-theme="light" class="setColor light">
                                        <img class="sun-image" src="../static/images/icons/sun-01.svg" alt="Sun images">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                                        <img class="Victor Image" src="../static/images/icons/vector.svg" alt="Vector Images">
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header Area  -->
    <div class="popup-mobile-menu">
        <div class="inner">
            <div class="header-top">
                <div class="logo">
                    <a href="index.html">
                        <img class="logo-light" src="../static/images/logo/logo.png" alt="Corporate Logo">
                        <img class="logo-dark" src="../static/images/logo/logo-dark.png" alt="Corporate Logo">
                    </a>
                </div>
                <div class="close-menu">
                    <button class="close-button">
                        <i class="feather-x"></i>
                    </button>
                </div>
            </div>
            <ul class="mainmenu">
                <li class="with-megamenu has-menu-child-item position-relative"><a href="#">Home</a>
                    <div class="rainbow-megamenu with-mega-item-2">
                        <div class="wrapper">
                            <div class="row row--0">
                                <div class="col-lg-6 single-mega-item">
                                    <ul class="mega-menu-item">
                                        <li><a href="index-landing.html">Sass Landing <span class="rainbow-badge-card">New</span></a></li>
                                        <li><a href="index-application.html">Application <span class="rainbow-badge-card">New</span></a></li>
                                        <li><a href="index-collaborate.html">Collaborate <span class="rainbow-badge-card">New</span></a></li>
                                        <li><a href="index-business-consulting.html">Business Consulting</a></li>
                                        <li><a href="index-business-consulting-2.html">Business Consulting 02</a></li>
                                        <li><a href="index-magazine.html">Magazine <span class="rainbow-badge-card">New</span></a></li>
                                        <li><a href="index-corporate.html">Corporate</a></li>
                                        <li><a href="index-business.html">Business</a></li>
                                        <li><a href="index-digital-agency.html">Digital Agency</a></li>
                                        <li><a href="index-finance.html">Finance</a></li>
                                        <li><a href="index-company.html">Company</a></li>
                                        <li><a href="index-marketing-agency.html">Marketing Agency</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 single-mega-item">
                                    <ul class="mega-menu-item">
                                        <li><a href="index-travel-agency.html">Travel Agency</a></li>
                                        <li><a href="index-consulting.html">Consulting</a></li>
                                        <li><a href="index-seo-agency.html">SEO Agency</a></li>
                                        <li><a href="index-personal-portfolio.html">Personal Portfolio</a></li>
                                        <li><a href="index-event-conference.html">Event Conference</a></li>
                                        <li><a href="index-creative-portfolio.html">Creative Portfolio</a></li>
                                        <li><a href="index-freelancer.html">Freelancer</a></li>
                                        <li><a href="index-international-consulting.html">International Consulting</a></li>
                                        <li><a href="index-startup.html">Startup</a></li>
                                        <li><a href="index-web-agency.html">Web Agency</a></li>
                                        <li><a href="index-corporate-one-page.html">Corporate One Page <span class="rainbow-badge-card">New</span></a></li>
                                        <li><a href="index-photographer.html">Photographer <span class="rainbow-badge-card">New</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="about.html">About</a></li>
                <li class="with-megamenu has-menu-child-item"><a href="#">Elements</a>
                    <div class="rainbow-megamenu">
                        <div class="wrapper">
                            <div class="row row--0">
                                <div class="col-lg-3 single-mega-item">
                                    <ul class="mega-menu-item">
                                        <li><a href="button.html">Button</a></li>
                                        <li><a href="service.html">Service</a></li>
                                        <li><a href="counter.html">Counter</a></li>
                                        <li><a href="progressbar.html">Progressbar</a></li>
                                        <li><a href="accordion.html">Accordion</a></li>
                                        <li><a href="social-share.html">Social Share</a></li>
                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 single-mega-item">
                                    <ul class="mega-menu-item">
                                        <li><a href="team.html">Team</a></li>
                                        <li><a href="portfolio.html">Portfolio</a></li>
                                        <li><a href="testimonial.html">Testimonial</a></li>
                                        <li><a href="timeline.html">Timeline</a></li>
                                        <li><a href="tab.html">Tab</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                        <li><a href="split.html">Split Section</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 single-mega-item">
                                    <ul class="mega-menu-item">
                                        <li><a href="call-to-action.html">Call To Action</a></li>
                                        <li><a href="video.html">Video</a></li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="brand.html">Brand</a></li>
                                        <li><a href="portfolio.html">Portfolio</a></li>
                                        <li><a href="error.html">404</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 single-mega-item">
                                    <ul class="mega-menu-item">
                                        <li><a href="advance-tab.html">Advance Tab <span
                                    class="rainbow-badge-card">Hot</span></a></li>
                                        <li><a href="brand-carouse.html">Brand Carousel <span
                                    class="rainbow-badge-card">New</span></a></li>
                                        <li><a href="advance-pricing.html">Advance Pricing <span
                                    class="rainbow-badge-card">Hot</span></a></li>
                                        <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                        <li><a href="privacy-policy.html">Privacy Policy <span
                            class="rainbow-badge-card">New</span></a></li>
                                        <li><a href="login.html">Profile <span
                            class="rainbow-badge-card">New</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="has-droupdown has-menu-child-item"><a href="#">Blog</a>
                    <ul class="submenu">
                        <li><a href="blog-grid.html">Blog Grid</a></li>
                        <li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                        <li><a href="blog-list-view.html">Blog List View</a></li>
                        <li><a href="blog-list-sidebar.html">Blog List View Sidebar</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>

                <li class="has-droupdown has-menu-child-item"><a href="#">Portfolio</a>
                    <ul class="submenu">
                        <li><a href="portfolio.html">Portfolio Default</a></li>
                        <li><a href="portfolio-three-column.html">Portfolio Three Column</a></li>
                        <li><a href="portfolio-full-width.html">Portfolio Full Width</a></li>
                        <li><a href="portfolio-grid-layout.html">Portfolio Grid Layout</a></li>
                        <li><a href="portfolio-box-layout.html">Portfolio Box Layout</a></li>
                        <li><a href="portfolio-details.html">Portfolio Details</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>







        </div>
    </div>
    <!-- Start Theme Style  -->