<!-- Start Portfolio Area  -->
        <div class="rainbow-portfolio-area rainbow-section-gap masonary-wrapper-activation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center mb--50" data-sal="slide-up" data-sal-duration="400" data-sal-delay="150">
                            <h4 class="subtitle">
                                <span class="theme-gradient">{{ g.translations['project-section-label'] }}</span>
                            </h4>
                            <h2 class="title w-600 mb--20">{{ g.translations['project-section-title'] }}</h2>
                            <p class="description b1"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <!-- <div class="rainbow-portfolio-filter filter-button-default messonry-button text-center mb--30">
                            <button data-filter="*" class="is-checked"><span class="filter-text">All</span></button>
                            <button data-filter=".cat--1"><span class="filter-text">design</span></button>
                            <button data-filter=".cat--2"><span class="filter-text">art</span></button>
                            <button data-filter=".cat--3"><span class="filter-text">Digital</span></button>
                            <button data-filter=".cat--4"><span class="filter-text">development</span></button>
                        </div> -->

                        <div class="portfolio-items grid-metro3 mesonry-list">
                            <div class="resizer"></div>

                            {% for project in g.translations['projects'] %}
                                <!-- Start Single Portfolio  -->
                                <div class="portfolio-3 cat--1 cat--4">
                                    <div class="rainbow-card portfolio">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <figure class="card-image">
                                                    <a href="portfolio-details.html">
                                                        <img src="{{ project['img'] }}" alt="Portfolio-01">
                                                    </a>
                                                </figure>
                                                <a class="rainbow-overlay" href="{{ project['url'] }}"></a>
                                            </div>
                                            <div class="content">
                                                <h5 class="title mb--10">
                                                    <a href="{{ project['url'] }}">{{ project['name'] }}</a>
                                                </h5>
                                                <span class="subtitle b2">{{ project['label'] }}</span>
                                                <p>{{ project['description'] }} </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Start Single Portfolio  -->
                            {% endfor %}

                            
                        </div>
                    </div>
                </div>

                <!-- Start Load More Button  -->
                <!-- <div class="row row--15">
                    <div class="col-lg-12">
                        <div class="rainbow-load-more text-center mt--60">
                            <a href="portfolio.html" class="btn btn-default btn-large btn-icon">
                                <span>Load More <span class="icon feather-loader"></span></span>
                            </a>
                        </div>
                    </div>
                </div> -->
                <!-- End Load More Button  -->

            </div>
        </div>
        <!-- End Portfolio Area 