<!-- Start Slider Area  -->
<div class="slider-perosonal-portfolio height-750 slider-bg-image bg-image11" data-black-overlay="1">
    <div class="container">
        <div class="row row--30 align-items-center">
            <div class="col-12">
                <div class="inner text-center">
                    <h1 class="title">
                        {{ g.translations['home-slider']|safe if 'home-slider' in g.translations else 'Welcome to my site' }}
                    </h1>
                    <div class="button-group mt--30"><a class="btn-default round btn-border btn-large" href="personal-portfolio.html">Contact Me</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Slider Area  -->